@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
    background-color: #ccc;
}

.fade-appear {
   opacity: 0.01;
}

.fade-appear.fade-appear-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}

.fade-enter {
   opacity: 0.01;
}

.fade-enter.fade-enter-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}


